/* .ant-layout-content {
  display: block;
} */

.main {
  background-color: #fff;
  margin: 36px;
}

.movies {
  /* background-color: #fff; */
  /* margin: 36px; */
  text-align: left;
}

.movies-list {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-rows: auto auto auto; */
  justify-content: space-around;
  gap: 36px;
  /* margin: 20px 0; */
  padding: 30px 50px;
  /* text-align: center; */
  /* border-radius: 4px; */
}

.movie {
  display: flex;
  width: 446px;
  height: 281px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* margin: 16px; */
  /* -webkit-filter: drop-shadow(3px 3px 3px 3px #eaeaea);
  filter: drop-shadow(3px 3px 3px 3px #eaeaea); */
  /* filter: drop-shadow(16px 16px 20px #353333); */
  -webkit-box-shadow: 2px 2px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 2px rgba(34, 60, 80, 0.2);
}

.movie__poster {
  display: inline-block;
  box-sizing: border-box;
  width: 183px;
  height: 281px;
}

.movie__description {
  width: 100%;
  padding: 5px 5px 5px 0;
  margin-left: 20px;
}

.movie__name {
  /* width: 132px; */
  min-height: 28px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.movie__release-date,
.movie__no-release-date {
  display: block;
  width: 132px;
  min-height: 22px;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

.movie__no-release-date {
  color: red;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}

.movie__genre {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 7px;
}

.movie__genre--name {
  display: inline-block;
  min-width: 37px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 3px 3px 3px 5px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.65);
}

.movie__description--text {
  position: relative;
  max-height: 50%;
  font-family: inherit;
  font-size: 12px;
  line-height: 22px;
  color: #000;
  overflow: hidden;
  text-overflow: clip;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
