@font-face {
  font-family: Inter;
  src: url(./Fonts/Inter/static/Inter-Regular.ttf);
}

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

#moviesapp {
  background-color: #fff;
  width: 1010px;
  margin: 0 auto;
}

.spin-wraper {
  margin: 20px 0;
  padding: 30px 50px;
  text-align: center;
}

.ant-tabs-top {
  margin: 0 auto;
}

.ant-tabs-nav-wrap {
  width: 200px;
}

.header {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  margin-left: 36px;
  margin-right: 36px;
  height: auto;
  padding: 0;
}

.chose-display-variant {
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.chose-display-variant-item {
  display: inline;
}

.chose-display-variant-button {
  box-sizing: content-box;
  width: 65px;
  height: 54px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 8px 10px 8px;
  border-bottom: 2px solid black;
  outline: none;
}

.chose-display-variant-button.selected {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}

.header__search-form--search-field {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 9px 12px;
}

.chose-display-variant-button:hover,
.chose-display-variant-button:focus {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}

.chose-display-variant-button:active {
  box-shadow: inset 0px 0px 10px rgba(151, 149, 149, 0.5);
}

.header__search-form--search-field {
}
